@import "variables.less";
@import "mixins.less";

.title {
	 text-transform: uppercase;
}

[date-picker-wrapper]{
	position: relative !important;
	display:block;
}

[date-time-append] [date-picker]{
	position: relative;
	margin-right: -1000px;
	margin-bottom: -1000px;
}

[date-range] [date-picker] {
	.after.before{
		.buttonBackground(@btnInfoBackground, spin(@btnInfoBackgroundHighlight, 20));
	}
}

[date-picker] {
	.user-select(none);
	.border-radius(4px);

	/* GENERAL */

	padding: 4px;

	table {
		margin: 0;
	}

	td, th {
		padding: 0px;
		text-align: center;
		width: 20px;
		height: 20px;
		.border-radius(4px);
		border: none;

	}

	.switch{
		width: 145px;
	}

	span {
			display: block;
			float: left;

			height: 32px !important;
			line-height: 32px !important;
			min-width: 32px !important;
			padding: 0px 5px  !important;
			margin: 4px !important;
			cursor: pointer;
			.border-radius(4px);
			&:hover {
				background: @grayLighter;
			}
			&.disabled, &.disabled:hover {
				background:none;
				color: @grayLight;
				cursor: default;
			}

	}

	.active {
		.buttonBackground(#428bca, #428bca);
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
	}

	.now {
		//.buttonBackground(transparent, transparent);
		//color: #fff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
		border: 1px solid #428bca;
		position: relative;
	}

	.now:after{
		content: " ";
		position: absolute;
		top: 2px;
		right: 2px;
		width: 0;
		height: 0;
		border-top: 0.7em solid #0059bc;
		border-left: .7em solid transparent;
	}


	.disabled {
		background: none;
		color: #999999 !important;
		cursor: default;
	}

	/* SPECIFIC */

	[ng-switch-when="year"], [ng-switch-when="month"], [ng-switch-when="minutes"]{
		span {
			height: 54px;
			line-height: 54px;
		}
	}
	[ng-switch-when="date"]{
		td {
			padding: 0;
		}
		span{
			width: 100%;
			height: 26px;
			line-height: 26px;
		}
	}

	th:hover, [ng-switch-when="date"] td span:hover{
		background: @grayLighter;
		cursor: pointer;
	}
}
