<div ng-switch="view">
	<div ng-switch-when="date">
		<table>
			<thead>
				<tr>
					<th ng-click="prev()">
						<a href="#" class="">
							<i class="fa fa-chevron-left"></i>
						</a>
					</th>
					<th colspan="5" class="switch" ng-click="setView('month')">
						<a href="#" class="title">
							{{date|date:" MMMM 'de' yyyy"}}
						</a>
					</th>
					<th ng-click="next()">
						<a href="#" class="">
							<i class="fa fa-chevron-right"></i>
						</a>
					</th>
				</tr>
				<tr>
					<th ng-repeat="day in weekdays" style="overflow: hidden">{{ day|date:"EEE" }}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="week in weeks">
					<td ng-repeat="day in week">
						<span
							ng-class="{'now':isNow(day),'active':isSameDay(day),'disabled':(day.getMonth()!=date.getMonth()),'after':isAfter(day),'before':isBefore(day)}"
							ng-click="setDate(day)" ng-bind="day.getDate()"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div ng-switch-when="year">
		<table>
			<thead>
				<tr>
					<th ng-click="prev(10)">
						<a href="#" class="">
							<i class="fa fa-chevron-left"></i>
						</a>
					</th>
					<th colspan="5" class="switch">
						{{years[0].getFullYear()}}-{{years[years.length-1].getFullYear()}}
					</th>
					<th ng-click="next(10)">
						<a href="#" class="">
							<i class="fa fa-chevron-right"></i>
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="7">
						<span ng-class="{'active':isSameYear(year),'now':isNow(year)}"
									ng-repeat="year in years"
									ng-click="setDate(year)" ng-bind="year.getFullYear()"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div ng-switch-when="month">
		<table>
			<thead>
				<tr>
					<th ng-click="prev()">
						<a href="#" class="">
							<i class="fa fa-chevron-left"></i>
						</a>
					</th>
					<th colspan="5" class="switch" ng-click="setView('year')">
						<a href="#" class="">
							{{ date|date:"yyyy" }}
						</a>
					</th>
					<th ng-click="next()">
						<a href="#" class="">
							<i class="fa fa-chevron-right"></i>
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="7">
						<span ng-repeat="month in months"
									ng-class="{'active':isSameMonth(month),'after':isAfter(month),'before':isBefore(month),'now':isNow(month)}"
									ng-click="setDate(month)"
									ng-bind="month|date:'MMM'"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div ng-switch-when="hours">
		<table>
			<thead>
				<tr>
					<th ng-click="prev(24)">
						<a href="#" class="">
							<i class="fa fa-chevron-left"></i>
						</a>
					</th>
					<th colspan="5" class="switch" ng-click="setView('date')">
						<a href="#" class="">
							{{ date|date:"dd MMMM yyyy" }}
						</a>
					</th>
					<th ng-click="next(24)">
						<a href="#" class="">
							<i class="fa fa-chevron-right"></i>
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="7">
						<span ng-repeat="hour in hours"
									ng-class="{'now':isNow(hour),'active':isSameHour(hour)}"
									ng-click="setDate(hour)" ng-bind="hour|time"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div ng-switch-when="minutes">
		<table>
			<thead>
				<tr>
					<th ng-click="prev()">
						<a href="#" class="">
							<i class="fa fa-chevron-left"></i>
						</a>
					</th>
					<th colspan="5" class="switch" ng-click="setView('hours')">
						<a href="#" class="">
							{{ date|date:"dd MMMM yyyy" }}
						</a>
					</th>
					<th ng-click="next()">
						<a href="#" class="">
							<i class="fa fa-chevron-right"></i>
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
			<tr>
				<td colspan="7">
					<span ng-repeat="minute in minutes"
							ng-class="{active:isSameMinutes(minute),'now':isNow(minute)}"
							ng-click="setDate(minute)"
							ng-bind="minute|time"></span>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
